In [1]:
# installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#importing required drivers
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

# Answer :

In [5]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
#getting webpage https://www.naukri.com
driver.get('https://www.naukri.com/')

In [7]:
#entering "Data Analyst" in "Skill, Designation, Companies" field
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Analyst')

#entering "Bangalore" in "enter the location" field
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

#clicking the Search button
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

In [8]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(i.text)

# Scrapping Company Name from the webpage
company_name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(i.text)

# Scrapping Experience from the webpage
experience_required=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    experience_required.append(i.text)

In [9]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_required
0,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
3,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
4,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
5,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
6,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
7,Asst Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,1-3 Yrs
8,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Ahmedabad",milestone internet marketing pvt ltd,2-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

# Answer :

In [10]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
#getting webpage https://www.naukri.com
driver.get('https://www.naukri.com/')

In [13]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [14]:
#entering "Bangalore" in "enter the location" field
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [15]:
#clicking the Search button
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

In [16]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(j.text)

# Scrapping Company Name from the webpage
company_name=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(k.text)

In [17]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
6,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent
9,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

# Answer :

In [18]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [19]:
#getting web-page https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [20]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [21]:
#applying location filter and selecting "Delhi/NCR" otion
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
location.click()

In [22]:
#applying Salary filter and selecting "3-6 lakhs" otion
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [23]:
# Scrapping job-title from the webpage
jtitle=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    jtitle.append(i.text)
    
# Scrapping job-location from the webpage
jloc=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    jloc.append(j.text)

# Scrapping Company name from the webpage
comp=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    comp.append(k.text)
    
# Scrapping Experience required from the webpage
exp=[]
for l in  driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    exp.append(l.text)

In [24]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':jtitle,'Job_Location':jloc,'Company_Name':comp,'Experience required':exp})
df

,Job_Title,Job_Location,Company_Name,Experience required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru",Big Seo Buzz,2-7 Yrs
6,Data Scientist,(WFH during Covid),Feedback Infra,2-4 Yrs
7,Data Scientist / Chat-bot Developer,Gurgaon/Gurugram,Big Seo Buzz,3-7 Yrs
8,Data Scientist - Engine Algorithm,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Primo Hiring,1-3 Yrs
9,Data Scientist For Healthcare Product team,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",SECUREKLOUD TECHNOLOGIES,2-7 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.


# Answer :

In [25]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [26]:
#getting webpage https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [27]:
# closing the log-in page window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [28]:
#entering "sunglasses" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [32]:
# Scrapping Brand detail from the webpage
brand=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

# Scrapping Product Description from the webpage
pro1=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
    pro1.append(j.text)
    
pro2=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    pro2.append(j.text)
    
pro_des=pro1+pro2

# Scrapping Price from the webpage
price=[]
for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    price.append(k.text)

# Scrapping Discount from the webpage
dis=[]
for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    dis.append(l.text)

In [36]:
# converting 1st page scrapped data into DataFrame
df=pd.DataFrame({'Brand':brand,'Product Description':pro_des,'Price':price,'Discount':dis})
df

,Brand,Product Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹281,81% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
5,PIRASO,UV Protection Rectangular Sunglasses (52),₹252,90% off
6,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,52% off
8,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
9,SRPM,UV Protection Wayfarer Sunglasses (50),₹211,83% off
10,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
11,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),"₹1,229",38% off
12,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
13,New Specs,UV Protection Oval Sunglasses (Free Size),₹207,79% off
14,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹267,73% off
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,50% off
16,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
17,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499,75% off
18,NuVew,UV Protection Aviator Sunglasses (57),₹198,73% off
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
20,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
21,PIRASO,UV Protection Aviator Sunglasses (58),₹323,87% off
22,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹199,80% off
23,john jacobs,UV Protection Round Sunglasses (53),"₹3,325",33% off
24,PIRASO,UV Protection Aviator Sunglasses (54),₹221,86% off
25,Mi,Polarized Aviator Sunglasses (Free Size),₹799,33% off
26,Dannilo,Others Spectacle Sunglasses (Free Size),₹170,78% off
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹799,68% off
28,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
29,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219,78% off
30,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
32,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269,85% off
33,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039",20% off
34,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,049",47% off
36,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
37,Rich Club,UV Protection Retro Square Sunglasses (54),₹325,53% off
38,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹350,82% off
39,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹331,83% off

In [39]:
# for scrapping data from next pages, defining Start & End of the page
start= 0
end= 3
for page in range(start,end):
    
# Scrapping Brand detail from the next pages
    for j in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(j.text)
    
# Scrapping Product Description from the next pages
    for k in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        pro1.append(k.text)
        
    for l in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        pro2.append(l.text)
        
    pro_des=pro1+pro2
    
# Scrapping Price from the next pages    
    for m in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(m.text)
    
# Scrapping Discount from the next pages
    for n in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        dis.append(n.text)  
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[page].get_attribute('href'))#getting the link from the list for next page
    except:
        print("Page not found")

# converting first 100 scrapped data into DataFrame
df1=pd.DataFrame({'Brand Name':brand,'Product Description':pro_des, 'Price':price,'Discount':dis})
df1.head(100)

,Brand Name,Product Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹281,81% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,50% off
96,PIRASO,UV Protection Aviator Sunglasses (55),₹221,86% off
97,kingsunglasses,UV Protection Round Sunglasses (54),₹214,78% off
98,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹379,74% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

# Answer :

In [4]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
#getting webpage https://www.flipkart.com and directly login to product detail of iphone12 , as directed by Mentor 
driver.get('https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART ')

In [21]:
rate1=[]
rate2=[]
summary=[]
f_rev=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
start=0
end=15
for page in range(start,end):
    
# Scrapping rating from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        rate1.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]'):
        rate2.append(i.text)
    rate=rate1+rate2

# Scrapping Review Summary from different pages
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        summary.append(j.text)
        
# Scrapping Full Review from different pages
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        f_rev.append(k.text)
        
#scraping the list of reviews data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href')) #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

# converting scrapped data for first 100 reviews into DataFrame
review=pd.DataFrame({'Rating':rate,'Review Summary':summary,'Full Review':f_rev})
review.head(100)

,Rating,Review Summary,Full Review
0,5,Terrific,Wow superb camera phone\nVery smooth speed and...
1,5,Perfect product!,The brand is very trustworthy and i got genuin...
2,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
3,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
4,5,Highly recommended,Thanx flipkart for value super sale for short ...
...,...,...,...
95,5,Classy product,I am a tech freak so you can trust my views -\...
96,3,Super!,Definitely an awesome product...an awesome exp...
97,5,Nice,"An apple fan, I find iPhone 12 light, easier t..."
98,5,Best in the market!,Stunning Phone from IPhone at Stunning price.\...
99,5,Brilliant,The most value for money iPhone of 2021 after ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

# Answer :

In [22]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [23]:
#getting webpage https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [24]:
# closing the log-in page window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [25]:
#entering "sneakers" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [26]:
#introducing list for brand, product description, price & discount
brand=[]
prod1=[]
prod2=[]
price=[]
discount=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
for page in range(0,3):
    
# Scrapping brand list from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        
# Scrapping product description from different pages 
    for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        prod1.append(j.text)
        
    for c in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        prod2.append(c.text)
    prod=prod1+prod2
    
# Scrapping price from different pages 
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(k.text)
        
# Scrapping discount from different pages 
    for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        discount.append(l.text)
        
#scraping the required data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
# converting scrapped data for first 100 reviews into DataFrame
Sneaker_data=pd.DataFrame({'Brand':brand,'Product Description':prod,'Price':price,'Discount':discount})
Sneaker_data.head(100)

,Brand,Product Description,Price,Discount
0,VibeX,Mesh | Ultralightweight | Comfortable | Breath...,₹549,45% off
1,RapidBox,Smash Wns v2 Z Sneakers For Women,₹630,36% off
2,aadi,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹374,81% off
3,PUMA,Sneakers For Men,"₹1,542",55% off
4,Chevit,Sneakers For Men,₹544,71% off
...,...,...,...,...
95,RapidBox,Stylish & Trendy Sneakers For Men,₹620,37% off
96,Qitty,Sneakers For Men,₹249,58% off
97,Kzaara,Sneakers Sneakers For Men,₹299,70% off
98,Layasa,Sneakers For Men,₹499,50% off
99,sixXplus,Latest Women's Pack of 2 Stylish Slip-On Loafe...,₹499,50% off

# Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image. 
And then scrape First 100 shoes data you get.

The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

# Answer :

In [27]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [29]:
#getting webpage https://www.myntra.com/shoes
driver.get('https://www.myntra.com/shoes')

Further steps can't be done since "Inspect" icon is not displayed on right-click. 
As per Mentor's direction, question is aborted.

.

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 

Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

# Answer :

In [31]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [52]:
#getting webpage https://www.amazon.in/
driver.get('https://www.amazon.in/')

In [53]:
# entering "Laptop" in search field
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

# clicking on the search button
search_button=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [54]:
# setting CPU Type filter to “Intel Core i7” as required
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/span')
cpu_type.click()

In [60]:
# Scrapping product title from the webpage
title=[]
for i in driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[0:10]:
    title.append(i.text)
    
# Scrapping product price from the webpage
price=[]
for j in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[0:10]:
    price.append(j.text)

# converting scrapped data for first 10 Laptops data into DataFrame
Laptop=pd.DataFrame({'Title':title,'Price':price}) 
Laptop.head(10)

                                               Title     Price
0  Sponsored\nSamsung Galaxy Book2 360 Intel 12th...    97,990
1  Sponsored\nSamsung Galaxy Book2 Pro Intel 12th...  1,09,990
2  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,490
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    87,990
4  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    57,490
5  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    82,990
6  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  1,09,990
7  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    92,990
8  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    89,990
9  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  1,04,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 

This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

# Answer :

In [114]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [122]:
#getting webpage https://www.ambitionbox.com/
driver.get('https://www.ambitionbox.com/')

In [123]:
# clicking on "Job" options
jobs=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
jobs.click()

In [124]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

# clicking the Search button
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [125]:
# clicking on location icon
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]')
location.click()

# entering "Noida" for location search
place=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
place.send_keys('Noida')

In [126]:
# clicking the Search button
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [127]:
# Scrapping company name from the webpage
company=[]
for i in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'): #scrapping company name from page
    company.append(i.text)

# Scrapping No. of days ago when job was posted from the webpage
day=[]
for j in driver.find_elements(By.XPATH,'//span[@class="body-small-l"]'):
    day.append(j.text)
del day[1:20:2] 
    
# Scrapping Rating of the Company from the webpage
rating=[]
for k in driver.find_elements(By.XPATH,'//span[@class="body-small"]'):
    rating.append(k.text)

# converting scrapped data into DataFrame
Jobs=pd.DataFrame({'Company Name':company, 'No. of Days ago when job was posted':day, 'Rating':rating})
Jobs

,Company Name,No. of Days ago when job was posted,Rating
0,CBRE South Asia Pvt Ltd,8d ago,4.3
1,GENPACT India Private Limited,22hr ago,4.0
2,Genpact,3d ago,4.0
3,Ericsson India Global Services Pvt. Ltd.,18d ago,4.3
4,GENPACT India Private Limited,11d ago,4.0
5,Optum Global Solutions (India) Private Limited,15d ago,4.1
6,Optum Global Solutions (India) Private Limited,16d ago,4.1
7,Ericsson India Global Services Pvt. Ltd.,28d ago,4.3
8,SOPRA STERIA INDIA LIMITED,17d ago,4.2
9,EXL Services.com ( I ) Pvt. Ltd.,17d ago,3.9

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 

The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [187]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [188]:
#getting webpage https://www.ambitionbox.com/
driver.get('https://www.ambitionbox.com/')

In [189]:
# selecting salary option
salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary.click()

# selecting first option from drop down menu
browser=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p')
browser.click()

In [190]:
# enterring 'Data Scientist' in Search job profile
job=driver.find_element(By.XPATH,'//input[@class="tt-input"]')
job.send_keys('Data Scientist')

In [191]:
# selecting first option from drop down menu
select=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div')
select.click()

In [192]:
# Scrapping company name from the webpage
comp=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]/a'):
    comp.append(i.text.split("\n"))
    
# merging sub lists into a single list and deleting even place items to get required data
company=sum(comp,[])
del company[1:20:2]

# Scrapping total salary record from the webpage
bsal=[]
for a in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]/span'):
    bsal.append(a.text.replace('(','').replace(')',''))

# Scrapping Average salary from the webpage
avgsal=[]
for b in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'): 
    avgsal.append(b.text)

# Scrapping Minimum Salary & Maximum Salary from the webpage
min_sal=[]
max_sal=[]
for c in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'): 
    min_sal.append(c.text)
    max_sal.append(c.text)
del min_sal[1:20:2]
del max_sal[0:20:2]

# Scrapping Experience required data from the webpage
exp=[]
for d in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'): 
    exp.append(d.text.split('('))
    
# merging sub lists into a single list and deleting even place items to get required data   
req_exp=sum(exp,[]) 
del req_exp[1:20:2]

# converting scrapped data into DataFrame
df=pd.DataFrame({'Company Name':company,'Total Salary Record':bsal,'Average Salary':avgsal,'Minimum Salary':min_sal,'Maximum Salary':max_sal,'Experience Required':req_exp})
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 22 salaries,₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 53 salaries,₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yrs experience
2,Optum,based on 48 salaries,₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 33 salaries,₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 109 salaries,₹ 15.2L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,based on 65 salaries,₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Legato Health Technologies,based on 11 salaries,₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
7,Tredence,based on 12 salaries,₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience
8,UnitedHealth,based on 91 salaries,₹ 13.6L,₹ 8.0L,₹ 20.5L,2-4 yrs experience
9,Ford Motor,based on 21 salaries,₹ 13.5L,₹ 10.0L,₹ 18.0L,3-4 yrs experience